In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
matches = pickle.load(open('dataset_level1.pkl','rb'))

In [3]:
matches.tail(3)

,innings,info.dates,info.gender,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],male,Netherlands,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,1430,Dubai
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],male,Australia,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,1431,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],male,Australia,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,1432,Colombo

In [4]:
for i in matches.iloc[0,]["innings"][0]['1st innings']['deliveries']:
    for ball in i:
        print (i[ball])
        
#ball,batsman,bowler,non-striker , runs = batsmans+extra ,

{'batsman': 'AJ Finch', 'bowler': 'SL Malinga', 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'AJ Finch', 'bowler': 'SL Malinga', 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'AJ Finch', 'bowler': 'SL Malinga', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'M Klinger', 'bowler': 'SL Malinga', 'non_striker': 'AJ Finch', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}
{'batsman': 'M Klinger', 'bowler': 'SL Malinga', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'M Klinger', 'bowler': 'SL Malinga', 'non_striker': 'AJ Finch', 'runs': {'batsman': 3, 'extras': 0, 'total': 3}}
{'batsman': 'M Klinger', 'bowler': 'KMDN Kulasekara', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'M Klinger', 'bowler': 'KMDN Kulasekara', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'AJ Finch', 'bowler': 'KMDN Kulasekara', 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'AJ Finch', 'bowler': 'KMDN Kulasekara', 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'AJ Finch', 'bowler': 'KMDN Kulasekara', 'non_striker': 'M Klinger', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}
{'batsman': 'AJ Finch', 'bowler': 'KMDN Kulasekara', 'non_striker': 'M Klinger', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}
{'batsman': 'M Klinger', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'AJ Finch', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'M Klinger', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'M Klinger', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'M Klinger', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Finch', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}
{'batsman': 'M Klinger', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'AJ Finch', 'bowler': 'KMDN Kulasekara', 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'AJ Finch', 'bowler': 'KMDN Kulasekara', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'M Klinger', 'bowler': 'KMDN Kulasekara', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'AJ Finch', 'bowler': 'KMDN Kulasekara', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'M Klinger', 'bowler': 'KMDN Kulasekara', 'non_striker': 'AJ Finch', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}
{'batsman': 'M Klinger', 'bowler': 'KMDN Kulasekara', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'M Klinger', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Finch', 'runs': {'batsman': 3, 'extras': 0, 'total': 3}}
{'batsman': 'AJ Finch', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'M Klinger', 'runs': {'batsman': 3, 'extras': 0, 'total': 3}}
{'batsman': 'M Klinger', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Finch', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}
{'batsman': 'M Klinger', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Finch', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}
{'batsman': 'M Klinger', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'AJ Finch', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'AJ Finch', 'bowler': 'S Prasanna', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'M Klinger', 'bowler': 'S Prasanna', 'extras': {'wides': 1}, 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}
{'batsman': 'M Klinger', 'bowler': 'S Prasanna', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'M Klinger', 'bowler': 'S Prasanna', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'M Klinger', 'bowler': 'S Prasanna', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'AJ Finch', 'bowler': 'S Prasanna', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'M Klinger', 'bowler': 'S Prasanna', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'AJ Finch', 'bowler': 'PADLR Sandakan', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'M Klinger', 'bowler': 'PADLR Sandakan', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'AJ Finch', 'bowler': 'PADLR Sandakan', 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'AJ Finch', 'bowler': 'PADLR Sandakan', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'M Klinger', 'bowler': 'PADLR Sandakan', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'AJ Finch', 'bowler': 'PADLR Sandakan', 'non_striker': 'M Klinger', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}
{'batsman': 'M Klinger', 'bowler': 'S Prasanna', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'M Klinger', 'bowler': 'S Prasanna', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'AJ Finch', 'bowler': 'S Prasanna', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'M Klinger', 'bowler': 'S Prasanna', 'extras': {'byes': 1}, 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}
{'batsman': 'AJ Finch', 'bowler': 'S Prasanna', 'non_striker': 'M Klinger', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}
{'batsman': 'AJ Finch', 'bowler': 'S Prasanna', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'AJ Finch', 'bowler': 'PADLR Sandakan', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'M Klinger', 'bowler': 'PADLR Sandakan', 'non_striker': 'AJ Finch', 'runs': {'batsman': 3, 'extras': 0, 'total': 3}}
{'batsman': 'AJ Finch', 'bowler': 'PADLR Sandakan', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'M Klinger', 'bowler': 'PADLR Sandakan', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'M Klinger', 'bowler': 'PADLR Sandakan', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'M Klinger', 'bowler': 'PADLR Sandakan', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'M Klinger', 'bowler': 'S Prasanna', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'AJ Finch', 'bowler': 'S Prasanna', 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'AJ Finch', 'bowler': 'S Prasanna', 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'AJ Finch', 'bowler': 'S Prasanna', 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'AJ Finch', 'bowler': 'S Prasanna', 'non_striker': 'M Klinger', 'runs': {'batsman': 6, 'extras': 0, 'total': 6}}
{'batsman': 'AJ Finch', 'bowler': 'S Prasanna', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'AJ Finch', 'bowler': 'PADLR Sandakan', 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'AJ Finch', 'bowler': 'PADLR Sandakan', 'extras': {'legbyes': 1}, 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}
{'batsman': 'M Klinger', 'bowler': 'PADLR Sandakan', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}, 'wicket': {'fielders': ['SL Malinga'], 'kind': 'caught', 'player_out': 'M Klinger'}}
{'batsman': 'TM Head', 'bowler': 'PADLR Sandakan', 'non_striker': 'AJ Finch', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}
{'batsman': 'TM Head', 'bowler': 'PADLR Sandakan', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'TM Head', 'bowler': 'PADLR Sandakan', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'AJ Finch', 'bowler': 'DAS Gunaratne', 'non_striker': 'TM Head', 'runs': {'batsman': 6, 'extras': 0, 'total': 6}}
{'batsman': 'AJ Finch', 'bowler': 'DAS Gunaratne', 'non_striker': 'TM Head', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}
{'batsman': 'AJ Finch', 'bowler': 'DAS Gunaratne', 'non_striker': 'TM Head', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}, 'wicket': {'fielders': ['SL Malinga'], 'kind': 'caught', 'player_out': 'AJ Finch'}}
{'batsman': 'TM Head', 'bowler': 'DAS Gunaratne', 'non_striker': 'MC Henriques', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'MC Henriques', 'bowler': 'DAS Gunaratne', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'TM Head', 'bowler': 'DAS Gunaratne', 'non_striker': 'MC Henriques', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'TM Head', 'bowler': 'S Prasanna', 'non_striker': 'MC Henriques', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'TM Head', 'bowler': 'S Prasanna', 'non_striker': 'MC Henriques', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'MC Henriques', 'bowler': 'S Prasanna', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'TM Head', 'bowler': 'S Prasanna', 'non_striker': 'MC Henriques', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'TM Head', 'bowler': 'S Prasanna', 'non_striker': 'MC Henriques', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'MC Henriques', 'bowler': 'S Prasanna', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'MC Henriques', 'bowler': 'SL Malinga', 'non_striker': 'TM Head', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'MC Henriques', 'bowler': 'SL Malinga', 'extras': {'wides': 1}, 'non_striker': 'TM Head', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}
{'batsman': 'MC Henriques', 'bowler': 'SL Malinga', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'TM Head', 'bowler': 'SL Malinga', 'non_striker': 'MC Henriques', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}
{'batsman': 'TM Head', 'bowler': 'SL Malinga', 'non_striker': 'MC Henriques', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'MC Henriques', 'bowler': 'SL Malinga', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'TM Head', 'bowler': 'SL Malinga', 'non_striker': 'MC Henriques', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'TM Head', 'bowler': 'PADLR Sandakan', 'non_striker': 'MC Henriques', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'MC Henriques', 'bowler': 'PADLR Sandakan', 'non_striker': 'TM Head', 'runs': {'batsman': 3, 'extras': 0, 'total': 3}}
{'batsman': 'TM Head', 'bowler': 'PADLR Sandakan', 'non_striker': 'MC Henriques', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'MC Henriques', 'bowler': 'PADLR Sandakan', 'non_striker': 'TM Head', 'runs': {'batsman': 6, 'extras': 0, 'total': 6}}
{'batsman': 'MC Henriques', 'bowler': 'PADLR Sandakan', 'non_striker': 'TM Head', 'runs': {'batsman': 3, 'extras': 0, 'total': 3}}
{'batsman': 'TM Head', 'bowler': 'PADLR Sandakan', 'non_striker': 'MC Henriques', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}
{'batsman': 'MC Henriques', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'TM Head', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}, 'wicket': {'fielders': ['CK Kapugedera'], 'kind': 'caught', 'player_out': 'MC Henriques'}}
{'batsman': 'TM Head', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Turner', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'AJ Turner', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'TM Head', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}
{'batsman': 'AJ Turner', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'TM Head', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Turner', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}
{'batsman': 'TM Head', 'bowler': 'JRMVB Sanjaya', 'extras': {'wides': 1}, 'non_striker': 'AJ Turner', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}
{'batsman': 'TM Head', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Turner', 'runs': {'batsman': 6, 'extras': 0, 'total': 6}}
{'batsman': 'AJ Turner', 'bowler': 'SL Malinga', 'non_striker': 'TM Head', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}
{'batsman': 'AJ Turner', 'bowler': 'SL Malinga', 'non_striker': 'TM Head', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}
{'batsman': 'AJ Turner', 'bowler': 'SL Malinga', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'TM Head', 'bowler': 'SL Malinga', 'non_striker': 'AJ Turner', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'AJ Turner', 'bowler': 'SL Malinga', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'TM Head', 'bowler': 'SL Malinga', 'non_striker': 'AJ Turner', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'TM Head', 'bowler': 'KMDN Kulasekara', 'non_striker': 'AJ Turner', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'AJ Turner', 'bowler': 'KMDN Kulasekara', 'non_striker': 'TM Head', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}
{'batsman': 'AJ Turner', 'bowler': 'KMDN Kulasekara', 'extras': {'noballs': 1}, 'non_striker': 'TM Head', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}
{'batsman': 'AJ Turner', 'bowler': 'KMDN Kulasekara', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'TM Head', 'bowler': 'KMDN Kulasekara', 'non_striker': 'AJ Turner', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'AJ Turner', 'bowler': 'KMDN Kulasekara', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'TM Head', 'bowler': 'KMDN Kulasekara', 'non_striker': 'AJ Turner', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}
{'batsman': 'AJ Turner', 'bowler': 'SL Malinga', 'non_striker': 'TM Head', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}
{'batsman': 'AJ Turner', 'bowler': 'SL Malinga', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'TM Head', 'bowler': 'SL Malinga', 'non_striker': 'AJ Turner', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}
{'batsman': 'TM Head', 'bowler': 'SL Malinga', 'non_striker': 'AJ Turner', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}, 'wicket': {'fielders': ['S Prasanna'], 'kind': 'caught', 'player_out': 'TM Head'}}
{'batsman': 'AJ Turner', 'bowler': 'SL Malinga', 'non_striker': 'JP Faulkner', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}, 'wicket': {'fielders': ['S Prasanna'], 'kind': 'caught', 'player_out': 'AJ Turner'}}
{'batsman': 'JP Faulkner', 'bowler': 'SL Malinga', 'non_striker': 'TD Paine', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}
{'batsman': 'JP Faulkner', 'bowler': 'KMDN Kulasekara', 'non_striker': 'TD Paine', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}
{'batsman': 'JP Faulkner', 'bowler': 'KMDN Kulasekara', 'non_striker': 'TD Paine', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}
{'batsman': 'JP Faulkner', 'bowler': 'KMDN Kulasekara', 'non_striker': 'TD Paine', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}
{'batsman': 'JP Faulkner', 'bowler': 'KMDN Kulasekara', 'extras': {'wides': 1}, 'non_striker': 'TD Paine', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}
{'batsman': 'JP Faulkner', 'bowler': 'KMDN Kulasekara', 'non_striker': 'TD Paine', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}, 'wicket': {'fielders': ['CK Kapugedera', 'KMDN Kulasekara'], 'kind': 'run out', 'player_out': 'TD Paine'}}
{'batsman': 'JP Faulkner', 'bowler': 'KMDN Kulasekara', 'non_striker': 'PJ Cummins', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}
{'batsman': 'JP Faulkner', 'bowler': 'KMDN Kulasekara', 'non_striker': 'PJ Cummins', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}

In [5]:
a = matches.iloc[0,]
#1st match:
#1. venue 2.City 3. Match_id 4Teams

In [6]:
batting_team = [] 
delivery = []
bowler = []
batsman = []
non_striker= [] 
runs= []
match_id=[]
venue = []
city = []
teams = []
player_out = []
count = 0
for index in range(len(matches)):
    team_name = matches.iloc[index,]["innings"][0]['1st innings']['team']
    #batting_team.append(team_name)
    for i in matches.iloc[index,]["innings"][0]['1st innings']['deliveries']:
        for ball in i:
            venue.append(matches.iloc[index,]["info.venue"])
            city.append(matches.iloc[index,]["info.city"])
            teams.append(matches.iloc[index,]["info.teams"])
            match_id.append(matches.iloc[index,]["match_id"])
            delivery.append(ball)
            batsman.append(i[ball]['batsman'])
            bowler.append(i[ball]['bowler'])
            non_striker.append(i[ball]['non_striker'])
            runs.append(i[ball]['runs']['total'])
            batting_team.append(team_name)
            try:
                player_out.append(i[ball]["wicket"]["player_out"])
            except:
                player_out.append(0)

In [7]:
 
# dictionary of lists 
dict = {"match_id" : match_id , 'batting_team' : batting_team ,"teams": teams , 'delivery' : delivery , 'bowler' : bowler , 
        'batsman' : batsman , 'non_striker' : non_striker , 'player_out' : player_out , 'runs' : runs ,"city" : city , "venue" : venue  } 
    
df = pd.DataFrame(dict)

In [8]:
df.head(3)

,match_id,batting_team,teams,delivery,bowler,batsman,non_striker,player_out,runs,city,venue
0,1,Australia,"[Australia, Sri Lanka]",0.1,SL Malinga,AJ Finch,M Klinger,0,0,NaN,Melbourne Cricket Ground
1,1,Australia,"[Australia, Sri Lanka]",0.2,SL Malinga,AJ Finch,M Klinger,0,0,NaN,Melbourne Cricket Ground
2,1,Australia,"[Australia, Sri Lanka]",0.3,SL Malinga,AJ Finch,M Klinger,0,1,NaN,Melbourne Cricket Ground

## top_teams_data

In [9]:
def bowl(row):
    for team in row['teams']:
        if team != row['batting_team']:
            return team

In [10]:
df['bowling_team'] = df.apply(bowl,axis=1)

In [11]:
df

,match_id,batting_team,teams,delivery,bowler,batsman,non_striker,player_out,runs,city,venue,bowling_team
0,1,Australia,"[Australia, Sri Lanka]",0.1,SL Malinga,AJ Finch,M Klinger,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
1,1,Australia,"[Australia, Sri Lanka]",0.2,SL Malinga,AJ Finch,M Klinger,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
2,1,Australia,"[Australia, Sri Lanka]",0.3,SL Malinga,AJ Finch,M Klinger,0,1,NaN,Melbourne Cricket Ground,Sri Lanka
3,1,Australia,"[Australia, Sri Lanka]",0.4,SL Malinga,M Klinger,AJ Finch,0,2,NaN,Melbourne Cricket Ground,Sri Lanka
4,1,Australia,"[Australia, Sri Lanka]",0.5,SL Malinga,M Klinger,AJ Finch,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...,...,...
116542,1432,Sri Lanka,"[Sri Lanka, Australia]",19.3,MA Starc,SMSM Senanayake,DM de Silva,0,1,Colombo,R Premadasa Stadium,Australia
116543,1432,Sri Lanka,"[Sri Lanka, Australia]",19.4,MA Starc,DM de Silva,SMSM Senanayake,0,0,Colombo,R Premadasa Stadium,Australia
116544,1432,Sri Lanka,"[Sri Lanka, Australia]",19.5,MA Starc,DM de Silva,SMSM Senanayake,DM de Silva,0,Colombo,R Premadasa Stadium,Australia
116545,1432,Sri Lanka,"[Sri Lanka, Australia]",19.6,MA Starc,SMSM Senanayake,RAS Lakmal,0,2,Colombo,R Premadasa Stadium,Australia
116546,1432,Sri Lanka,"[Sri Lanka, Australia]",19.7,MA Starc,SMSM Senanayake,RAS Lakmal,0,1,Colombo,R Premadasa Stadium,Australia

***Extracting Data For only top teams***

In [12]:
top_teams = ['Australia',  'Zimbabwe',  'India',  'Bangladesh',  'New Zealand',  'South Africa',  'England',  'West Indies',  'Afghanistan',
  'Pakistan',  'Sri Lanka',  'Netherlands','Ireland']

In [13]:
top_teams_data = df[df["batting_team"].isin(top_teams)]
top_teams_data = df[df["bowling_team"].isin(top_teams)]

***Handling Missing Values in City***
1. By replacing it with venue 0 index

In [14]:
top_teams_data[top_teams_data["city"].isnull()]

,match_id,batting_team,teams,delivery,bowler,batsman,non_striker,player_out,runs,city,venue,bowling_team
0,1,Australia,"[Australia, Sri Lanka]",0.1,SL Malinga,AJ Finch,M Klinger,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
1,1,Australia,"[Australia, Sri Lanka]",0.2,SL Malinga,AJ Finch,M Klinger,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
2,1,Australia,"[Australia, Sri Lanka]",0.3,SL Malinga,AJ Finch,M Klinger,0,1,NaN,Melbourne Cricket Ground,Sri Lanka
3,1,Australia,"[Australia, Sri Lanka]",0.4,SL Malinga,M Klinger,AJ Finch,0,2,NaN,Melbourne Cricket Ground,Sri Lanka
4,1,Australia,"[Australia, Sri Lanka]",0.5,SL Malinga,M Klinger,AJ Finch,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...,...,...
116416,1431,Australia,"[Sri Lanka, Australia]",19.2,NLTC Perera,GJ Maxwell,TM Head,0,1,NaN,Pallekele International Cricket Stadium,Sri Lanka
116417,1431,Australia,"[Sri Lanka, Australia]",19.3,NLTC Perera,TM Head,GJ Maxwell,0,4,NaN,Pallekele International Cricket Stadium,Sri Lanka
116418,1431,Australia,"[Sri Lanka, Australia]",19.4,NLTC Perera,TM Head,GJ Maxwell,0,4,NaN,Pallekele International Cricket Stadium,Sri Lanka
116419,1431,Australia,"[Sri Lanka, Australia]",19.5,NLTC Perera,TM Head,GJ Maxwell,0,6,NaN,Pallekele International Cricket Stadium,Sri Lanka
116420,1431,Australia,"[Sri Lanka, Australia]",19.6,NLTC Perera,TM Head,GJ Maxwell,TM Head,0,NaN,Pallekele International Cricket Stadium,Sri Lanka

In [15]:
top_teams_data["venue"][0].split()[0]

'Melbourne'

In [16]:
top_teams_data['city'] = np.where(top_teams_data['city'].isnull(), top_teams_data['venue'].str.split().apply(lambda x:x[0]), top_teams_data['city'])
#ABOVE 1 QUESTION AND TWO ANS
#1. IF VALUE IS NULL FILL WITH CONDITION 1
#2. Else FILL WITH CONDITION 2

C:\Users\Dell\AppData\Local\Temp\ipykernel_2820\807204141.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_teams_data['city'] = np.where(top_teams_data['city'].isnull(), top_teams_data['venue'].str.split().apply(lambda x:x[0]), top_teams_data['city'])

In [17]:
top_teams_data.head(4)

,match_id,batting_team,teams,delivery,bowler,batsman,non_striker,player_out,runs,city,venue,bowling_team
0,1,Australia,"[Australia, Sri Lanka]",0.1,SL Malinga,AJ Finch,M Klinger,0,0,Melbourne,Melbourne Cricket Ground,Sri Lanka
1,1,Australia,"[Australia, Sri Lanka]",0.2,SL Malinga,AJ Finch,M Klinger,0,0,Melbourne,Melbourne Cricket Ground,Sri Lanka
2,1,Australia,"[Australia, Sri Lanka]",0.3,SL Malinga,AJ Finch,M Klinger,0,1,Melbourne,Melbourne Cricket Ground,Sri Lanka
3,1,Australia,"[Australia, Sri Lanka]",0.4,SL Malinga,M Klinger,AJ Finch,0,2,Melbourne,Melbourne Cricket Ground,Sri Lanka

***NOTE REQ TABLES***:

1. top_teams_data
2. req_data

In [18]:
req_data = top_teams_data[["match_id" , "batting_team" , "bowling_team" ,"delivery" ,"player_out" , "runs"  , "city" ]]

In [19]:
req_data.head(4)

   match_id batting_team bowling_team  delivery player_out  runs       city
0         1    Australia    Sri Lanka       0.1          0     0  Melbourne
1         1    Australia    Sri Lanka       0.2          0     0  Melbourne
2         1    Australia    Sri Lanka       0.3          0     1  Melbourne
3         1    Australia    Sri Lanka       0.4          0     2  Melbourne

***Cities Having matches greater than 5***

In [20]:
eligible_cities = req_data["city"].value_counts()[req_data["city"].value_counts()>600].index.tolist()

In [21]:
req_data = req_data[req_data["city"].isin(eligible_cities)]

In [22]:
req_data

,match_id,batting_team,bowling_team,delivery,player_out,runs,city
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne
2,1,Australia,Sri Lanka,0.3,0,1,Melbourne
3,1,Australia,Sri Lanka,0.4,0,2,Melbourne
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...
116542,1432,Sri Lanka,Australia,19.3,0,1,Colombo
116543,1432,Sri Lanka,Australia,19.4,0,0,Colombo
116544,1432,Sri Lanka,Australia,19.5,DM de Silva,0,Colombo
116545,1432,Sri Lanka,Australia,19.6,0,2,Colombo
116546,1432,Sri Lanka,Australia,19.7,0,1,Colombo

In [23]:
req_data["current_score"] = req_data.groupby("match_id").cumsum()["runs"]

In [24]:
df

,match_id,batting_team,teams,delivery,bowler,batsman,non_striker,player_out,runs,city,venue,bowling_team
0,1,Australia,"[Australia, Sri Lanka]",0.1,SL Malinga,AJ Finch,M Klinger,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
1,1,Australia,"[Australia, Sri Lanka]",0.2,SL Malinga,AJ Finch,M Klinger,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
2,1,Australia,"[Australia, Sri Lanka]",0.3,SL Malinga,AJ Finch,M Klinger,0,1,NaN,Melbourne Cricket Ground,Sri Lanka
3,1,Australia,"[Australia, Sri Lanka]",0.4,SL Malinga,M Klinger,AJ Finch,0,2,NaN,Melbourne Cricket Ground,Sri Lanka
4,1,Australia,"[Australia, Sri Lanka]",0.5,SL Malinga,M Klinger,AJ Finch,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...,...,...
116542,1432,Sri Lanka,"[Sri Lanka, Australia]",19.3,MA Starc,SMSM Senanayake,DM de Silva,0,1,Colombo,R Premadasa Stadium,Australia
116543,1432,Sri Lanka,"[Sri Lanka, Australia]",19.4,MA Starc,DM de Silva,SMSM Senanayake,0,0,Colombo,R Premadasa Stadium,Australia
116544,1432,Sri Lanka,"[Sri Lanka, Australia]",19.5,MA Starc,DM de Silva,SMSM Senanayake,DM de Silva,0,Colombo,R Premadasa Stadium,Australia
116545,1432,Sri Lanka,"[Sri Lanka, Australia]",19.6,MA Starc,SMSM Senanayake,RAS Lakmal,0,2,Colombo,R Premadasa Stadium,Australia
116546,1432,Sri Lanka,"[Sri Lanka, Australia]",19.7,MA Starc,SMSM Senanayake,RAS Lakmal,0,1,Colombo,R Premadasa Stadium,Australia

In [25]:
backup = req_data.copy()

In [26]:
req_data = backup.copy()

In [27]:
req_data.head(3)

,match_id,batting_team,bowling_team,delivery,player_out,runs,city,current_score
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne,0
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne,0
2,1,Australia,Sri Lanka,0.3,0,1,Melbourne,1

In [28]:
req_data["Over"] = req_data["delivery"].apply(lambda x:str(x).split(".")[0])
req_data["Balls"] = req_data["delivery"].apply(lambda x:str(x).split(".")[1])

In [29]:
req_data["Over"] = req_data["Over"].astype("int")
req_data["Balls"] = req_data["Balls"].astype("int")

In [30]:
req_data

,match_id,batting_team,bowling_team,delivery,player_out,runs,city,current_score,Over,Balls
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2
2,1,Australia,Sri Lanka,0.3,0,1,Melbourne,1,0,3
3,1,Australia,Sri Lanka,0.4,0,2,Melbourne,3,0,4
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5
...,...,...,...,...,...,...,...,...,...,...
116542,1432,Sri Lanka,Australia,19.3,0,1,Colombo,125,19,3
116543,1432,Sri Lanka,Australia,19.4,0,0,Colombo,125,19,4
116544,1432,Sri Lanka,Australia,19.5,DM de Silva,0,Colombo,125,19,5
116545,1432,Sri Lanka,Australia,19.6,0,2,Colombo,127,19,6
116546,1432,Sri Lanka,Australia,19.7,0,1,Colombo,128,19,7

In [31]:
req_data["Balls_Played"] = req_data["Over"]* 6 + req_data["Balls"]
req_data["Balls_Left"] = 120 - req_data["Balls_Played"]

In [32]:
req_data.head(5)

,match_id,batting_team,bowling_team,delivery,player_out,runs,city,current_score,Over,Balls,Balls_Played,Balls_Left
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118
2,1,Australia,Sri Lanka,0.3,0,1,Melbourne,1,0,3,3,117
3,1,Australia,Sri Lanka,0.4,0,2,Melbourne,3,0,4,4,116
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115

In [33]:
req_data["player_out"][0] == "0"

False

***HANDLING PLAYER OUT***

In [34]:
req_data["player_out"]  = req_data["player_out"].apply(lambda x: 0 if x == 0 else 1)
req_data["player_out"] = req_data["player_out"].astype("int")
req_data["player_out"] = req_data.groupby("match_id").cumsum()["player_out"]

In [35]:
req_data["player_left"] = 10 - req_data["player_out"]

***HANDLING NEGATIVE VALUE IN Balls_Left***

In [36]:
req_data["Balls_Left"]  = req_data["Balls_Left"].apply(lambda x: 0 if x <0 else x)

***Introducig Run Rate***

In [37]:
req_data["Run_Rate"]  = round((req_data['current_score']*6)/req_data['Balls_Played'],2)

In [38]:
req_data

,match_id,batting_team,bowling_team,delivery,player_out,runs,city,current_score,Over,Balls,Balls_Played,Balls_Left,player_left,Run_Rate
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10,0.00
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10,0.00
2,1,Australia,Sri Lanka,0.3,0,1,Melbourne,1,0,3,3,117,10,2.00
3,1,Australia,Sri Lanka,0.4,0,2,Melbourne,3,0,4,4,116,10,4.50
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10,3.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116542,1432,Sri Lanka,Australia,19.3,8,1,Colombo,125,19,3,117,3,2,6.41
116543,1432,Sri Lanka,Australia,19.4,8,0,Colombo,125,19,4,118,2,2,6.36
116544,1432,Sri Lanka,Australia,19.5,9,0,Colombo,125,19,5,119,1,1,6.30
116545,1432,Sri Lanka,Australia,19.6,9,2,Colombo,127,19,6,120,0,1,6.35
116546,1432,Sri Lanka,Australia,19.7,9,1,Colombo,128,19,7,121,0,1,6.35

***Last-Five Overs Runs***

In [39]:
groups = req_data.groupby('match_id')

match_ids = req_data['match_id'].unique()
last_five = []
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs'].values.tolist())

C:\Users\Dell\AppData\Local\Temp\ipykernel_2820\115035294.py:6: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['batting_team', 'bowling_team', 'city'], dtype='object')
  last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs'].values.tolist())

In [40]:
req_data["last_five"] = last_five

In [41]:
final_df = req_data.groupby('match_id').sum()['runs'].reset_index().merge(req_data,on='match_id')

In [42]:
final_df2 = final_df.dropna()

In [43]:
final_df2.iloc[10:25]

,match_id,runs_x,batting_team,bowling_team,delivery,player_out,runs_y,city,current_score,Over,Balls,Balls_Played,Balls_Left,player_left,Run_Rate,last_five
39,1,168,Australia,Sri Lanka,6.3,0,0,Melbourne,49,6,3,39,81,10,7.54,42.0
40,1,168,Australia,Sri Lanka,6.4,0,1,Melbourne,50,6,4,40,80,10,7.50,39.0
41,1,168,Australia,Sri Lanka,6.5,0,1,Melbourne,51,6,5,41,79,10,7.46,38.0
42,1,168,Australia,Sri Lanka,6.6,0,2,Melbourne,53,6,6,42,78,10,7.57,39.0
43,1,168,Australia,Sri Lanka,7.1,0,0,Melbourne,53,7,1,43,77,10,7.40,38.0
44,1,168,Australia,Sri Lanka,7.2,0,1,Melbourne,54,7,2,44,76,10,7.36,39.0
45,1,168,Australia,Sri Lanka,7.3,0,1,Melbourne,55,7,3,45,75,10,7.33,40.0
46,1,168,Australia,Sri Lanka,7.4,0,1,Melbourne,56,7,4,46,74,10,7.30,37.0
47,1,168,Australia,Sri Lanka,7.5,0,4,Melbourne,60,7,5,47,73,10,7.66,41.0
48,1,168,Australia,Sri Lanka,7.6,0,1,Melbourne,61,7,6,48,72,10,7.62,42.0
49,1,168,Australia,Sri Lanka,8.1,0,1,Melbourne,62,8,1,49,71,10,7.59,42.0
50,1,168,Australia,Sri Lanka,8.2,0,3,Melbourne,65,8,2,50,70,10,7.80,44.0
51,1,168,Australia,Sri Lanka,8.3,0,1,Melbourne,66,8,3,51,69,10,7.76,44.0
52,1,168,Australia,Sri Lanka,8.4,0,0,Melbourne,66,8,4,52,68,10,7.62,40.0
53,1,168,Australia,Sri Lanka,8.5,0,0,Melbourne,66,8,5,53,67,10,7.47,39.0

In [44]:
y = final_df2["runs_x"]
final_df2 = final_df2[["batting_team" ,"bowling_team" ,"city" ,"current_score" ,"Balls_Left" ,"player_left" ,"Run_Rate" , "last_five" ]]

In [45]:
X = final_df2
X.isnull().sum()

batting_team     0
bowling_team     0
city             0
current_score    0
Balls_Left       0
player_left      0
Run_Rate         0
last_five        0
dtype: int64

**SAVING X FOR DEPLOYMENT**

In [60]:
import pickle
pickle.dump(X,open('dataset_level2.pkl','wb'))

### CREATING MODEL

In [47]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_absolute_error

***TRAIN - TEST SPLIT***

In [48]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [49]:
X_train

,batting_team,bowling_team,city,current_score,Balls_Left,player_left,Run_Rate,last_five
23662,New Zealand,Sri Lanka,Johannesburg,126,25,5,7.96,31.0
63294,Pakistan,Zimbabwe,Harare,86,43,6,6.70,41.0
31451,Australia,Pakistan,Dubai,54,83,9,8.76,44.0
34662,Australia,Sri Lanka,Barbados,74,50,5,6.34,32.0
41291,West Indies,England,London,63,64,8,6.75,21.0
...,...,...,...,...,...,...,...,...
65706,Australia,Pakistan,Chandigarh,127,30,6,8.47,45.0
42648,India,Afghanistan,Colombo,66,59,8,6.49,37.0
6845,India,South Africa,Centurion,48,81,7,7.38,46.0
15971,West Indies,India,Lauderhill,37,69,5,4.35,15.0
43314,Pakistan,New Zealand,Pallekele,92,60,9,9.20,50.0

In [50]:
ohe = OneHotEncoder()
ohe.fit(X[["batting_team" , "bowling_team" , "city" ]])

OneHotEncoder()

In [51]:
ohe.categories_

[array(['Afghanistan', 'Australia', 'Bangladesh', 'Canada', 'England',
        'Hong Kong', 'India', 'Ireland', 'Jersey', 'Kenya', 'Nepal',
        'Netherlands', 'New Zealand', 'Nigeria', 'Oman', 'Pakistan',
        'Papua New Guinea', 'Scotland', 'Singapore', 'South Africa',
        'Sri Lanka', 'United Arab Emirates', 'West Indies', 'Zimbabwe'],
       dtype=object),
 array(['Afghanistan', 'Australia', 'Bangladesh', 'England', 'India',
        'Ireland', 'Netherlands', 'New Zealand', 'Pakistan',
        'South Africa', 'Sri Lanka', 'West Indies', 'Zimbabwe'],
       dtype=object),
 array(['Abu Dhabi', 'Adelaide', 'Al Amarat', 'Auckland', 'Bangalore',
        'Barbados', 'Cape Town', 'Cardiff', 'Centurion', 'Chandigarh',
        'Chittagong', 'Christchurch', 'Colombo', 'Delhi', 'Dhaka', 'Dubai',
        'Dublin', 'Durban', 'Greater Noida', 'Guyana', 'Hambantota',
        'Hamilton', 'Harare', 'Johannesburg', 'Kolkata', 'Lahore',
        'Lauderhill', 'London', 'Manchester', 'Melbourne', 'Mirpur',
        'Mount Maunganui', 'Mumbai', 'Nagpur', 'Nottingham', 'Pallekele',
        'Sharjah', 'Southampton', 'St Kitts', 'St Lucia', 'Sydney',
        'Sylhet', 'Trinidad', 'Wellington'], dtype=object)]

In [52]:
categorical_transformer = OneHotEncoder(categories = ohe.categories_ ,sparse=False,drop='first')
numerical_transformer = StandardScaler()
numerical_Column = ["current_score" , "Balls_Left" , "player_left" , "Run_Rate" , "last_five"]
categorial_Column = ["batting_team" , "bowling_team" , "city" ]

#Column Transformer
column_transformer = ColumnTransformer(transformers = [("cat" ,categorical_transformer , categorial_Column) , 
                                                       ("num" , numerical_transformer , numerical_Column) ] , 
                                                          remainder = "passthrough")

In [53]:
model1 = Pipeline(steps=[
    ('step1',column_transformer),
    ('step2',RandomForestRegressor())])

In [54]:
model1.fit(X_train , y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('cat',
                                                  OneHotEncoder(categories=[array(['Afghanistan', 'Australia', 'Bangladesh', 'Canada', 'England',
       'Hong Kong', 'India', 'Ireland', 'Jersey', 'Kenya', 'Nepal',
       'Netherlands', 'New Zealand', 'Nigeria', 'Oman', 'Pakistan',
       'Papua New Guinea', 'Scotland', 'Singapore', 'South Africa',
       'Sri Lank...
       'Mount Maunganui', 'Mumbai', 'Nagpur', 'Nottingham', 'Pallekele',
       'Sharjah', 'Southampton', 'St Kitts', 'St Lucia', 'Sydney',
       'Sylhet', 'Trinidad', 'Wellington'], dtype=object)],
                                                                drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city']),
                                                 ('num', StandardScaler(),
                                                  ['current_score',
                                                   'Balls_Left', 'player_left',
                                                   'Run_Rate',
                                                   'last_five'])])),
                ('step2', RandomForestRegressor())])

In [55]:
y_pred = model1.predict(X_test)

In [56]:
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.981418199588665
2.0841825434817296

### DATA EXTACTION FOR DEPLOYMENT

**MAKING PICKEL FOR MODEL**

In [61]:
import pickle
pickle.dump(model1,open('RandomForestRegressor.pkl','wb'))

In [64]:
X = pickle.load(open('dataset_level2.pkl','rb'))

In [65]:
X.head()

,batting_team,bowling_team,city,current_score,Balls_Left,player_left,Run_Rate,last_five
29,Australia,Sri Lanka,Melbourne,43,90,10,8.60,43.0
30,Australia,Sri Lanka,Melbourne,44,89,10,8.52,44.0
31,Australia,Sri Lanka,Melbourne,45,88,10,8.44,45.0
32,Australia,Sri Lanka,Melbourne,45,87,10,8.18,44.0
33,Australia,Sri Lanka,Melbourne,45,86,10,7.94,42.0

In [68]:
batting_team = X["batting_team"].unique()
bowling_team = X["bowling_team"].unique()
city = X["city"].unique()

In [77]:
result = model1.predict(pd.DataFrame(columns=['batting_team', 'bowling_team', 'city', 'current_score', 'Balls_Left', "player_left", "Run_Rate", "last_five" ],
                                data=np.array(['Australia','Sri Lanka','Melbourne',50,78, 6 ,7.14 , 36]).reshape(1,8)))

In [80]:
np.ceil(result[0])

127.0